<nav>
        <div class="sidebar-sticky" *ngIf="loginService.hasRole('ROLE_ADMIN')">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-primary" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                Panel 
              </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/proveedor"> <i class="fas fa-id-card-alt"></i> Proveedor</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="/categoria"> <i class="fas fa-list-ol"></i> Categoría</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="/marca"> <i class="fas fa-registered "></i> Marca</a>
            </li>
          </ul>
        </div>
</nav>