<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white" >TODOSTUDENT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent"  *ngIf="loginService.isAuthenticated()">
      
      <ul class="navbar-nav mr-auto">

        <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="/cantidad"> <i class="fab fa-product-hunt"></i> Producto</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/venta-factura"> <i class="fas fa-cash-register"></i>Venta</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="loginService.hasRole('ROLE_ADMIN')">
          <a class="nav-link" routerLink="/personal"> <i class="fas fa-user-tie "></i> Personal</a>
        </li>
        <li class="nav-item dropdown" *ngIf="loginService.hasRole('ROLE_ADMIN')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Más opciones
          </a>
          <div class="dropdown-menu active" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/agencia"><i class="fas fa-landmark"></i> Agencias</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/proveedor"><i class="fas fa-folder-open"></i> Varios</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">

        <li class="dropdown mr-3">
          <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> {{loginService.usuario.username}}
          </a>
  
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
             <button (click)="logout()" type="submit" name="button" class="dropdown-item"> <i class="fas fa-sign-out-alt"></i> Salir</button>
              <div class="dropdown-divider"></div>
              <a   name="button" class="dropdown-item" [routerLink]="['/usuario/update-user/',loginService.usuario.username]"> <i class="fas fa-cog"></i> Configurar</a>
          </div>
        </li>
      </ul>
    
    </div>
  </nav>
