<div class="abrir-modal  fadeIn" *ngIf="trasladoProductoService.modal">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-dialog-scrollable modal-xl border border-dark" role="document">
            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="card-group">
                                <div class="card text-white bg-info">
                                    <div class="card-header text-center">DETALLE PRODUCTO</div>
                                    <div class="card-body">
                                        <div class="card mb-3" style="max-width: 600px;">
                                            <div class="row no-gutters">
                                                <div class="col-md-12">
                                                    <div class="card mt-1 text-primary" style="width: 25rem;">
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">ID: <span class="text-dark">{{trasladoProducto.ingresoProducto.producto.id}}</span></li>
                                                            <li class="list-group-item">Código: <span class="text-dark">{{trasladoProducto.ingresoProducto.producto.codigo}}</span></li>
                                                            <li class="list-group-item">Nombre: <span class="text-dark">{{trasladoProducto.ingresoProducto.producto.nombre}}</span></li>
                                                            <li class="list-group-item">Precio venta Unidad: <span class="text-success">{{trasladoProducto.ingresoProducto.producto.precioVenta |currency:"GTQ":"symbol"}}</span></li>
                                                            <li class="list-group-item">Precio venta Docena: <span class="text-dark">{{trasladoProducto.ingresoProducto.producto.precioDocena |currency:"GTQ":"symbol"}}</span></li>
                                                            <li class="list-group-item">Precio venta Centenar: <span class="text-dark">{{trasladoProducto.ingresoProducto.producto.precioMayor |currency:"GTQ":"symbol"}}</span></li>
                                                            <li class="list-group-item">Precio: <span class="text-dark">{{trasladoProducto.ingresoProducto.producto.precio |currency:"GTQ":"symbol"}}</span></li>
                                                            <li class="list-group-item">Categoría: <span class="text-dark">{{trasladoProducto.ingresoProducto.producto.categoria.categoria}}</span></li>
                                                            <li class="list-group-item">Marca: <span class="text-dark">{{trasladoProducto.ingresoProducto.producto.marca.marca}}</span></li>
                                                            <li class="list-group-item">Nombre: <span class="text-dark">{{trasladoProducto.ingresoProducto.producto.proveedor.nombre}} {{trasladoProducto.ingresoProducto.producto.proveedor.apellido}}</span></li>
                                                            <li class="list-group-item">Proveedor: <span class="text-dark">{{trasladoProducto.ingresoProducto.producto.proveedor.empresa.nombre}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">

                            <a href="{{urlImage}}{{trasladoProducto.ingresoProducto.producto.foto}}"
                                data-fancybox
                                data-caption="&lt;b&gt; Img &lt;/b&gt;&lt;br /&gt;img prod &lt;em&gt;any&lt;/em&gt; HTML elements">
                                <img *ngIf="trasladoProducto.ingresoProducto.producto?.foto"
                                    src="{{urlImage}}{{trasladoProducto.ingresoProducto.producto.foto}}"
                                    alt="{{trasladoProducto.ingresoProducto.producto.foto}}" class="img-thumbnail rounded">
                            </a>

                
                                <img *ngIf="!trasladoProducto.ingresoProducto.producto?.foto"
                                    src="{{urlImage}}img2.png" alt="Sin imagen"
                                    class="img-thumbnail rounded" style="width: 200px;">
                    
                            <hr>

                            <div class="card-group">
                                <div class="card text-white bg-info">
                                    <div class="card-header text-center">DETALLE TRASLADO PRODUCTO</div>
                                    <div class="card-body">

                                        <div class="card mb-3" style="max-width: 600px;">
                                            <div class="row no-gutters">
                                                <div class="col-3">
                                                    <div class="card mt-1 text-primary" style="width: 12rem;">
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">ID:</li>
                                                            <li class="list-group-item">Cantidad trasladada:</li>
                                                            <li class="list-group-item">Agencia traslado:</li>
                                                            <li class="list-group-item">Ubicación agencia:</li>
                                                            <li class="list-group-item">Fecha:</li>
                                                            <li class="list-group-item">Hora:</li>
                                                            <li class="list-group-item">ID. ingreso:</li>
                                                            <li class="list-group-item">Relizado por:</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <div class="card mt-n3 text-dark" style="width: 22rem;">
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item">{{trasladoProducto.id}}</li>
                                                                <li class="list-group-item">
                                                                    {{trasladoProducto.cantidad}}</li>
                                                                <li class="list-group-item">
                                                                    {{trasladoProducto.agencia.nombre}}</li>
                                                                <li class="list-group-item">
                                                                    {{trasladoProducto.agencia.ubicacion }}</li>
                                                                <li class="list-group-item">
                                                                    {{trasladoProducto.fecha | date:"EEEE dd, MMMM yyyy"}}
                                                                </li>
                                                                <li class="list-group-item">{{trasladoProducto.hora}}
                                                                </li>
                                                                <li class="list-group-item">
                                                                    {{trasladoProducto.ingresoProducto.id}}</li>
                                                                <li class="list-group-item">
                                                                    {{trasladoProducto.usuario.personal.nombre}}
                                                                    {{trasladoProducto.usuario.personal.apellido}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="cerrarModal()">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
</div>