<app-form-marca *ngIf="marca" [marca]="marca"></app-form-marca>

<div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
              <app-nav-lateral></app-nav-lateral>
        </div>
       
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Marca de producto</li>
            </ol>
          </nav>
             <div class="row">
               <div class="col"></div>
               <div class="col-8">
                  <div class="card mt-4 ">
                      <div class="card-header">
                        <button type="button" name="button" class="btn btn-primary float-right" (click)="abrirModal()" >
                                <i class="fas fa-registered "></i> Registrar nuevo </button>
                      </div>
                      <div class="card-body">
                        <div class="alert alert-info" *ngIf="marcas?.length==0">No nay registros en la base de datos</div>
                        <div class="table-responsive">
                        <table class="table table-sm table-hover">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Marca</th>
                            </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let marca of marcas">
                            <td>{{marca.id}}</td>
                            <td class="font-weight-bold">{{marca.marca}}</td>
                          </tr>
                          </tbody> 
                        </table>
          
                        </div>
                        
                      </div>
          
                    </div>
    
               </div>
               <div class="col"></div>
             </div>
        </main>
    
    </div>
     
    
