<div class="abrir-modal  fadeIn" *ngIf="facturaService.modalItem">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-dialog-scrollable modal-xl border border-dark" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title">DETALLE VENTAS</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="facturaService.cerrarModalItem()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="example-container mat-elevation-z8 table-responsive-sm">
                        <mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter">

                            <ng-container matColumnDef="Id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>#Factura </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.numeroFacutura}} </mat-cell>

                            </ng-container>
                            <ng-container matColumnDef="Cantidad">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cantidad}} </mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="PrecioVenta">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Precio venta </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.precioVenta |currency:"GTQ":"symbol"}} </mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="Importe">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>SubTotal </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.importe |currency:"GTQ":"symbol"}} </mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="Agencia">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.producto.agencia.nombre}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Codigo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.producto.producto.codigo}} </mat-cell>

                            </ng-container>
                            <ng-container matColumnDef="Categoria">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Categoria </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.producto.producto.categoria.categoria}}
                                </mat-cell>

                            </ng-container>
                            <ng-container matColumnDef="Nombre">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.producto.producto.nombre}} </mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="PrecioCompra">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Precio compra </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.producto.producto.precio |currency:"GTQ":"symbol"}} </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="5" showFirstLastButtons>
                        </mat-paginator>

                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-success float-right " mat-raised-button
                        (click)="exporter.exportTable('xlsx', {fileName:'facturas', sheet: 'sheet_name', Props: {Author: 'TODOSTUDENT'}})">
                        <i class="fas fa-file-excel"></i> Exportar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="facturaService.cerrarModalItem()">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
</div>
