<div class="abrir-modal  fadeIn" *ngIf="trasladoEntreAgenciaService.modal">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
      <div class="modal-dialog modal-dialog-scrollable  border border-dark" role="document">
        <div class="modal-content">
  
          <div class="modal-header">
            <h6 class="modal-title">Producto a trasladar {{cantidadProducto.producto.codigo}} </h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
                
                <form #trasladoForm="ngForm">
                        <div class="modal-body">
                             <div class="form-group">
                               <label for="color">Cantidad:</label>
                                 <input type="number" class="form-control form-control-sm"  name="cantidad"
                                        [(ngModel)]="trasladoEntreAgencia.cantidad" #col="ngModel" required min="0">
                                <div class="alert alert-danger sizeDiv" *ngIf="col.invalid && (col.dirty || col.touched)">
                                  <div class="sizeSubDiv" *ngIf="col.errors.required">Rellene este campo</div>
                                </div>
                             </div>

                             <div class="form-group">
                                <label for="talla">Agencia origen:</label>
                                <input type="text" name="" readonly value="{{cantidadProducto.agencia.nombre}}" class="form-control form-control-sm">
                                  
                            </div>

                             <div class="form-group">
                                <label for="talla">Agencia Destino:</label>
                                  <select class="form-control form-control-sm" [(ngModel)]="trasladoEntreAgencia.agenciaDestino" name="trasladoEntreAgencia" required>
                                    <option [ngValue]="undefined">---Seleccionar agencia-----</option>
                                    <option *ngFor="let agencia of agencias" [ngValue]="agencia">{{agencia.nombre}}</option>
                                  </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                         <button  class="btn btn-success btn-block" role="button" (click)='storeTraslado()'
                                   [disabled]="!trasladoForm.form.valid">Registrar</button>
                
                        </div>
                </form>

        </div>
      </div>
    </div>
  </div>

