<app-form-cliente></app-form-cliente>

<main role="main">
    <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
        class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h5">AGENCIA </h3> 
        <a *ngIf="loginService.hasRole('ROLE_ADMIN')" routerLink="/list-facturas">Historial ventas</a>
    </div>

    <div class="row">
        <div class="col">

            <div class="card border-info">
                <div class="card-header">
                    <h4 class="card-title">

                    </h4>

                    <div class="row">
                        <div class="col-8">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Buscar cliente" aria-label="Clientes" matInput
                                    [formControl]="autocompleteControlCliente" [matAutocomplete]="autoc">
                                <mat-autocomplete #autoc="matAutocomplete" [displayWith]="mostrarNombreCliente"
                                    (optionSelected)="seleccionarCliente($event)">
                                    <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
                                        <p class="h6 font-italic">{{cliente.nombre}},
                                            {{cliente.apellido}}</p>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-lg">
                                    <button type="button" class="btn" data-toggle="tooltip" data-placement="left"
                                        title="Registar cliente" (click)="abrirModalCliente()"><i
                                            class="fas fa-plus-circle"></i> <i class="fas fa-user"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <form #facturaForm="ngForm">
                            <input type="hidden"  readonly name="id" [(ngModel)]="clienteNew.id">
                        <div class="form-group">
                            <label for="nombre" *ngIf="clienteNew.nombre=='';else elseBlock">Cliente: <span class="text-danger">CONSUMIDOR FINAL</span></label>
                            <ng-template #elseBlock> <label for="nombre">Cliente: <span class="text-info">{{clienteNew.nombre}} {{clienteNew.apellido}}</span></label> </ng-template>
                            <input type="hidden" class="form-control" readonly name="nombre" [(ngModel)]="clienteNew.nombre">                
                        </div>
                        <hr>
                        <hr>
                        <div class="form-group row">
                            <div class="col">
                                <mat-form-field class="example-full-width">
                                    <input type="text" placeholder="Añadir producto" aria-label="Productos" matInput
                                        [formControl]="autocompleteControl" [matAutocomplete]="auto" >
                                        
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre"
                                        (optionSelected)="seleccionarProducto($event)">
                                        <mat-option *ngFor="let producto of productosFiltrados | async"
                                            [value]="producto">
                                            <p class="h6 font-italic text-dark font-weight-bold">{{producto.producto.codigo}},
                                                <span class="text-primary">{{producto.producto.precioVenta |currency:"GTQ":"symbol"}}</span>,
                                                {{producto.producto.nombre}} </p>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div class="alert alert-danger"
                                    *ngIf="autocompleteControl.invalid && facturaForm.submitted">
                                    La factura no puede no tener líneas!.
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-info my-4" *ngIf="factura.items.length == 0">
                            No hay líneas asignadas para la factura. Debe agregar al menos una!
                        </div>
                        <table class="table table-striped table-hover table-sm" *ngIf="factura.items.length > 0">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th style="width:25px">Existencia</th>
                                    <th style="width:90px"> Precio V.</th>
                                    <th style="width:25px">Cantidad</th>
                                    <th>Total</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of factura.items">
                                    <td class="font-italic h6">{{item.producto.producto.codigo}}</td>
                                    <td class="h6">{{item.producto.producto.nombre}}</td>
                                    <td *ngIf="item.producto.cantidad <= item.producto.producto.alerta;else elseBlock" class="text-center text-danger font-weight-bold">{{item.producto.cantidad}}</td>
                                    <ng-template #elseBlock> <td class="text-center text-primary font-weight-bold">{{item.producto.cantidad}}</td> </ng-template>
                                    <td ><input type="text" value="{{item.producto.producto.precioVenta}}"
                                            class="form-control form-control-sm"
                                            (change)="actualizarPrecio(item.producto.producto.id, $event,item.producto.producto.precio)">
                                    </td>
                                   
                                    <td style="width:25px"><input type="number" value="{{item.cantidad}}"
                                            class="form-control  form-control-sm"
                                            (change)="actualizarCantidad(item.producto.producto.id, $event,item.producto.cantidad)"></td>
                                    <td class="h6">{{item.calcularImporte()}}</td>
                                    <td><button class="btn btn-danger btn-sm" type="button"
                                            (click)="eliminarItemFactura(item.producto.producto.id)">x</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="float-right" *ngIf="factura.items.length > 0">Total: <span
                                class="badge badge-secondary">{{factura.calcularGranTotal()}}</span></h5>

                        <div class="form-group row">
                                <div class="col-4">
                                        <input type="submit" (click)="create(facturaForm,1)" value="Generar comprobante"
                                            class="btn btn-info">
                               </div>
                            <div class="col-4">  
                                <input type="submit" (click)="create(facturaForm,0)" value="Registrar venta"
                                    class="btn btn-secondary">
                            </div>
                           
                            
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col">
            <app-factura></app-factura>
        </div>

    </div>

</main>
