<div class="abrir-modal  fadeIn" *ngIf="categoriaService.modal">
        <div class="modal" tabindex="-1" role="dialog" style="display:block;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
      
              <div class="modal-header">
                <h6 class="modal-title"><i class="fas fa-list-ol"></i> Registrar nueva categoria</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form #categoriaForm="ngForm">
              <div class="modal-body">
                   <div class="form-group">
                     <label for="color">Categoría:</label>
                       <input type="text" class="form-control form-control-sm"  name="categoria"
                              [(ngModel)]="categoria.categoria" #cat="ngModel" required maxlength="30">
                      <div class="alert alert-danger sizeDiv" *ngIf="cat.invalid && (cat.dirty || cat.touched)">
                        <div class="sizeSubDiv" *ngIf="cat.errors.required">Rellene este campo</div>
                      </div>
                   </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
               <button  class="btn btn-success btn-block" role="button" (click)='store()'
                         [disabled]="!categoriaForm.form.valid">Registrar</button>
      
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>

