<div class="abrir-modal  fadeIn" *ngIf="productoService.modal">
  <div class="modal " tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-dialog-scrollable modal-xl border border-dark" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h6 class="modal-title">DETALLE PRODUCTO</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-5">
              <div class="card-group">
                <div class="card text-white bg-info">
                  <div class="card-body">
                    <div class="card mb-3" style="max-width: 600px;">
                      <div class="row no-gutters">
                          <div class="col-md-12">
                              <div class="card mt-1 text-primary" style="width: 25rem;">
                                 <ul class="list-group list-group-flush">
                                   <li class="list-group-item">ID: <span class="text-dark">{{producto.id}}</span></li> 
                                   <li class="list-group-item">Código: <span class="text-dark">{{producto.codigo}}</span></li>
                                   <li class="list-group-item">Nombre: <span class="text-dark">{{producto.nombre}}</span></li>
                                   <li class="list-group-item">Precio venta Unidad: <span class="text-success">{{producto.precioVenta |currency:"GTQ":"symbol"}}</span></li>
                                   <li class="list-group-item">Precio venta Docena: <span class="text-dark">{{producto.precioDocena |currency:"GTQ":"symbol"}}</span></li>
                                   <li class="list-group-item">Precio venta Centenar: <span class="text-dark">{{producto.precioMayor |currency:"GTQ":"symbol"}}</span></li>
                                   <li class="list-group-item">Precio: <span class="text-dark">{{producto.precio |currency:"GTQ":"symbol"}}</span></li>        
                                   <li class="list-group-item">Categoría: <span class="text-dark">{{producto.categoria.categoria}}</span></li>
                                   <li class="list-group-item">Marca: <span class="text-dark">{{producto.marca.marca}}</span></li>
                                   <li class="list-group-item">Alerta <i class="fas fa-bell"></i> <span class="text-dark">: {{producto.alerta }}</span></li>  
                                   <li class="list-group-item">Nombre: <span class="text-dark">{{producto.proveedor.nombre}} {{producto.proveedor.apellido}}</span></li>
                                   <li class="list-group-item">Proveedor: <span class="text-dark">{{producto.proveedor.empresa.nombre}}</span></li>
                                 </ul>
                               </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="input-group" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                    <div class="custom-file">
                    <input (change)="seleccionaFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Seleccionar imagen</label>
                    </div>
                    <div class="input-group-append">
                    <button (click)="subirFoto()" [disabled]="!imagenSeleccionada" class="btn btn-outline-success" type="button" id="inputGroupFileAddon04">SUBIR IMAGEN</button>
                    </div>
                </div>
      
                <div *ngIf="progreso > 0" class="progress" style="height: 40px;">
                    <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                        {{progreso}}%
                    </div>
                </div>

                <a href= "{{urlImage}}{{producto.foto}}" data-fancybox data-caption="&lt;b&gt; Img &lt;/b&gt;&lt;br /&gt;img prod &lt;em&gt;any&lt;/em&gt; HTML elements">
                  <img  *ngIf="producto?.foto" src="{{urlImage}}{{producto.foto}}" alt="{{producto.foto}}" class="img-thumbnail rounded">
                </a>
                  <img  *ngIf="!producto?.foto" src="{{urlImage}}img2.png" alt="Sin imagen" class="img-thumbnail rounded" style="width: 200px;">
               
            </div>
          </div>
        </div>  

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>

        </div>
      </div>
    </div>
  </div>
</div>