<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/personal">Personal</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear usuario</li>
    </ol>
  </nav>
<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-sm-4">
      <div class="card bg-info text-white mt-5">
        <div class="card-header">
            CREAR USUARIO PARA: {{ personal.nombre }}
          </div>
          <div class="card-body">
             <form [formGroup]="roleForm" (ngSubmit)="submit()">
                <div class="form-group">
                  <label for="nombre">Usuario</label>
                    <input type="text" class="form-control form-control-sm"  formControlName="username">
  
                </div>
                <div class="form-group">
                  <label for="apellido" >Password</label>
                    <input type="password" class="form-control form-control-sm" formControlName="password"
                           placeholder="Minimo 8 caracteres">
                </div>
  
                  <label formArrayName="roles" *ngFor="let nombre of roleForm['controls'].roles['controls']; let i = index">
                    <input type="checkbox" [formControlName]="i">
                    {{roles[i].nombre}}
                  </label>
  
                <div class="form-group ">
                      <button  class="btn btn-primary btn-block">Registrar usuario</button>
                </div>
             </form>
          </div>
      </div>
    </div>
    <div class="col"></div>
  </div>