<div class="abrir-modal  fadeIn" *ngIf="marcaService.modal">
        <div class="modal" tabindex="-1" role="dialog" style="display:block;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
      
              <div class="modal-header">
                <h6 class="modal-title"><i class="fas fa-registered "></i> Registrar nueva marca</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form #marcaForm="ngForm">
              <div class="modal-body">
                   <div class="form-group">
                     <label for="marca">Marca:</label>
                       <input type="text" class="form-control form-control-sm"  name="marca"
                              [(ngModel)]="marca.marca" #mar="ngModel" required maxlength="20">
                      <div class="alert alert-danger sizeDiv" *ngIf="mar.invalid && (mar.dirty || mar.touched)">
                        <div class="sizeSubDiv" *ngIf="mar.errors.required">Rellene este campo</div>
                      </div>
                   </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
               <button  class="btn btn-success btn-block" role="button" (click)='store()'
                         [disabled]="!marcaForm.form.valid">Registrar</button>
      
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
