<div class="jumbotron"></div>
<div class="row">
    <div class="col">
    </div>
    <div class="col-sm-4">
      <div class="card bg-light mt-5">
        <div class="card-header">
            <i class="fas fa-user"></i> Modifcar usuario o contraseña
          </div>
          <div class="card-body">
             <form #userForm="ngForm">
                <div class="form-group">
                  <label for="username">Nuevo username: </label>
                    <input type="text" class="form-control form-control-sm" name="username" [(ngModel)]="usuario.username"
                    required maxlength="35" #usr="ngModel">
                    <div class="alert alert-danger sizeDiv" *ngIf="usr.invalid && (usr.dirty || usr.touched)">
                      <div class="sizeSubDiv" *ngIf="usr.errors.required">Rellene este campo.</div>
                    </div>
  
                </div>
                <div class="form-group">
                  <label for="passw" >Nuevo Password: </label>
                    <input type="password" class="form-control form-control-sm" name="passw" [(ngModel)]="usuario.password"
                    required maxlength="20" minlength="8" #pass="ngModel">
                    <div class="alert alert-danger sizeDiv" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
                      <div class="sizeSubDiv" *ngIf="pass.errors.required">Rellene este campo</div>
                      <div class="sizeSubDiv" *ngIf="pass.errors.minlength">Debe tener un minimo de 8 caracteres</div>
                    </div>
                </div>
  
                <div class="form-group ">
                      <button  class="btn btn-primary btn-block" (click)="update()" [disabled]="!userForm.form.valid">Cambiar datos</button>
                </div>
             </form>
          </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
