<app-detalle-factura *ngIf="factura" [factura]="factura"></app-detalle-factura>
  <div class="example-container mat-elevation-z8 table-responsive-sm">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.fechaRegistro | date}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="Hora">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Hora </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.horaRegistro}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="Cliente">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente </mat-header-cell>
          <mat-cell *matCellDef="let row" > 
              <span *ngIf="row.cliente==null else elseBlock"> C/F</span>
              <ng-template #elseBlock> {{row.cliente.nombre}} </ng-template></mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>
    

      <ng-container matColumnDef="Total">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.total |currency:"GTQ":"symbol"}} </mat-cell>
        <mat-footer-cell *matFooterCellDef class="font-weight-bold font-italic">{{total |currency:"GTQ":"symbol"}} </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold" (click)="abrirModal(row)" data-toggle="tooltip"
              data-placement="left" title="Detalle factura"><i class="fas fa-info-circle text-info"></i>
            </mat-button-toggle>
          </mat-button-toggle-group>

        </mat-cell>
        <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

  </div>
