<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Proveedor</li>
    </ol>
  </nav>
  <div class="alert alert-danger" *ngIf="errores?.length>0">
   <li *ngFor="let err of errores">
     {{err}}
   </li>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-sm-4">
      <div class="card bg-secondary text-white mt-5">
        <div class="card-header">
            Formulario registro proveedor
          </div>
          <div class="card-body">
             <form #proveedorForm="ngForm">
               <div class="form-group">
                    <label for="nombreemp">Nombre empresa</label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="empresa.nombre"
                            name="nombreemp" #pers="ngModel" required maxlength="40">
                    <div class="alert alert-danger sizeDiv" *ngIf="pers.invalid && (pers.dirty || pers.touched)">
                        <div *ngIf="pers.errors.required" class="sizeSubDiv">Rellene este campo</div>
                    </div>
                </div>

                <div class="form-group">
                        <label for="telefonoemp">Teléfono empresa</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="empresa.telefono"
                                name="telefonoemp" #emptel="ngModel" required maxlength="10" minlength="3">
                        <div class="alert alert-danger sizeDiv" *ngIf="emptel.invalid && (emptel.dirty || emptel.touched)">
                            <div *ngIf="emptel.errors.required" class="sizeSubDiv">Rellene este campo</div>
                            <div *ngIf="emptel.errors.minlength" class="sizeSubDiv">La identificación debe tener mas de 3 caracteres</div>
                        </div>
                </div>
                
                <div class="form-group">
                        <label for="direccionemp">Dirección empresa</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="empresa.direccion"
                                name="direccionemp" #empdir="ngModel" required maxlength="40">
                        <div class="alert alert-danger sizeDiv" *ngIf="empdir.invalid && (empdir.dirty || empdir.touched)">
                            <div *ngIf="empdir.errors.required" class="sizeSubDiv">Rellene este campo</div>
                            <div *ngIf="empdir.errors.minlength" class="sizeSubDiv">La identificación debe tener mas de 3 caracteres</div>
                        </div>
                </div>
                
               <div class="form-group">
                   <label for="identificacion">Código o Identificación</label>
                   <input type="text" class="form-control form-control-sm" [(ngModel)]="proveedor.identificacion"
                   name="identificacion" #iden="ngModel" required maxlength="20" minlength="3">
                   <div class="alert alert-danger sizeDiv" *ngIf="iden.invalid && (iden.dirty || iden.touched)">
                     <div *ngIf="iden.errors.required" class="sizeSubDiv">Rellene este campo</div>
                     <div *ngIf="iden.errors.minlength" class="sizeSubDiv">La identificación debe tener mas de 3 caracteres</div>
                   </div>
               </div>
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="proveedor.nombre"
                    name="nombre" #nom="ngModel" required minlength="3" maxlength="25">
                    <div class="alert alert-danger sizeDiv" *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                      <div *ngIf="nom.errors.required" class="sizeSubDiv">Rellene este campo</div>
                      <div *ngIf="nom.errors.minlength" class="sizeSubDiv">El nombre debe tener mas de 3 caracteres</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="apellido" >Apellido</label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="proveedor.apellido"
                    name="apellido" #ape="ngModel" required minlength="3" maxlength="25">
                    <div class="alert alert-danger sizeDiv" *ngIf="ape.invalid && (ape.dirty || ape.touched)">
                      <div *ngIf="ape.errors.required" class="sizeSubDiv">Rellene este campo</div>
                      <div *ngIf="ape.errors.minlength" class="sizeSubDiv">El apellido debe tener mas de 3 caracteres</div>
                    </div>
                </div>
  
                <div class="form-group">
                  <label for="telefono">Teléfono</label>
                    <input type="text" name="telefono"  class="form-control form-control-sm" [(ngModel)]="proveedor.telefono" 
                         maxlength="10" required #tel="ngModel" >
                    <div class="alert alert-danger sizeDiv" *ngIf="tel.invalid && (tel.dirty || tel.touched)">
                        <div *ngIf="tel.errors.required" class="sizeSubDiv">Rellene este campo</div>
                    </div>
                </div>

                <div class="form-group">
                        <label for="email" >E-mail</label>
                          <input type="email" class="form-control form-control-sm" [(ngModel)]="proveedor.email"
                          name="email"  maxlength="30">
                  
                      </div>
                
                <div class="form-group ">
                      <button  class="btn btn-info btn-block" role="button" (click)='store()' *ngIf="!proveedor.id else elseBlock"
                            [disabled]="!proveedorForm.form.valid">Registrar proveedor</button>
                    <ng-template #elseBlock>
                       <button  class="btn btn-primary" role="button" (click)='update()' [disabled]="!proveedorForm.form.valid">Actualizar Datos proveedor</button>
                    </ng-template>
                </div>
             </form>
          </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  
