<div class="abrir-modal  fadeIn" *ngIf="ventaService.modal">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-dialog-scrollable modal-xl border border-dark" role="document">
            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="card-group">
                                <div class="card text-white bg-info">
                                    <div class="card-header text-center">DETALLE PRODUCTO</div>
                                    <div class="card-body">
                                        <div class="card mb-3" style="max-width: 600px;">
                                            <div class="row no-gutters">
                                                <div class="col-md-4">
                                                    <div class="card mt-1 text-primary" style="width: 10rem;">
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">ID:</li>
                                                            <li class="list-group-item">Código:</li>
                                                            <li class="list-group-item">Nombre:</li>
                                                            <li class="list-group-item">Precio venta:</li>
                                                            <li class="list-group-item">Precio:</li>
                                                            <li class="list-group-item">Categoría</li>
                                                            <li class="list-group-item">Marca:</li>
                                                            <li class="list-group-item">Proveedor:</li>
                                                            <li class="list-group-item">Empresa:</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="card-body">
                                                        <div class="card mt-n3 text-dark" style="width: 15rem;">
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item">
                                                                    {{venta.producto.id}}
                                                                </li>
                                                                <li class="list-group-item">
                                                                    {{venta.producto.codigo}}
                                                                </li>
                                                                <li class="list-group-item">
                                                                    {{venta.producto.nombre}}
                                                                </li>
                                                                <li class="list-group-item text-success">
                                                                    {{venta.producto.precioVenta |currency:"GTQ":"symbol"}}
                                                                </li>
                                                                <li class="list-group-item">
                                                                    {{venta.producto.precio |currency:"GTQ":"symbol"}}
                                                                </li>

                                                                <li class="list-group-item">
                                                                    {{venta.producto.categoria.categoria}}
                                                                </li>
                                                                <li class="list-group-item">
                                                                    {{venta.producto.marca.marca}}
                                                                </li>
                                                                <li class="list-group-item">
                                                                    {{venta.producto.proveedor.nombre}}
                                                                </li>
                                                                <li class="list-group-item">
                                                                    {{venta.producto.proveedor.empresa.nombre}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">

                            <a href="{{urlImage}}{{venta.producto.foto}}"
                                data-fancybox
                                data-caption="&lt;b&gt; Img &lt;/b&gt;&lt;br /&gt;img prod &lt;em&gt;any&lt;/em&gt; HTML elements">
                                <img *ngIf="venta.producto?.foto"
                                    src="{{urlImage}}{{venta.producto.foto}}"
                                    alt="{{venta.producto.foto}}" class="img-thumbnail rounded">
                            </a>

                           
                                <img *ngIf="!venta.producto?.foto"
                                    src="{{urlImage}}img2.png" alt="Sin imagen"
                                    class="img-thumbnail rounded" style="width: 200px;">
                
                            <hr>

                            <div class="card-group">
                                <div class="card text-white bg-info">
                                    <div class="card-header text-center">DETALLE VENTA PRODUCTO</div>
                                    <div class="card-body">

                                        <div class="card mb-3" style="max-width: 600px;">
                                            <div class="row no-gutters">
                                                <div class="col-3">
                                                    <div class="card mt-1 text-primary" style="width: 12rem;">
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">ID:</li>
                                                            <li class="list-group-item">Precio venta:</li>
                                                            <li class="list-group-item" *ngIf="loginService.hasRole('ROLE_ADMIN')">Ganancia:</li>
                                                            <li class="list-group-item" *ngIf="loginService.hasRole('ROLE_ADMIN')">Descuento:</li>
                                                            <li class="list-group-item">Fecha:</li>
                                                            <li class="list-group-item">Hora:</li>
                                                            <li class="list-group-item">Agencia</li>
                                                            <li class="list-group-item">Vendido por:</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <div class="card mt-n3 text-dark" style="width: 22rem;">
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item">{{venta.id}}</li>
                                                                <li class="list-group-item">
                                                                    {{venta.precioVenta |currency:"GTQ":"symbol"}}</li>
                                                                <li class="list-group-item" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                                                                    {{venta.ganancia |currency:"GTQ":"symbol"}}</li>
                                                                <li class="list-group-item" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                                                                    {{venta.descuento |currency:"GTQ":"symbol"}}</li>
                                                                <li class="list-group-item">
                                                                    {{venta.fechaVenta | date:"EEEE dd, MMMM yyyy"}}
                                                                </li>
                                                                <li class="list-group-item">{{venta.horaVenta}}
                                                                </li>
                                                                <li class="list-group-item">
                                                                    {{venta.usuario.personal.agencia.nombre}}</li>
                                                                <li class="list-group-item">
                                                                    {{venta.usuario.personal.nombre}}
                                                                    {{venta.usuario.personal.apellido}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="cerrarModal()">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
</div>