<div class="abrir-modal  fadeIn" *ngIf="facturaService.modal">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
      <div class="modal-dialog modal-dialog-scrollable modal-lg border border-dark" role="document">
        <div class="modal-content">
  
          <div class="modal-header">
            <h6 class="modal-title">DETALLE FACTURA</h6>
            <button class="float-right ml-5 btn btn-sm btn-outline-danger" (click)="generarpdf(factura)"><i class="far fa-file-pdf"></i> Imprimir</button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                      <div class="card">
                        <div class="alert alert-info mb-0">Detalle cliente</div>
                        <div class="row " *ngIf="factura.cliente!=null">
                            <div class="col-md-2">
                                <div class="card text-primary" style="width: 10rem;">
                                   <ul class="list-group list-group-flush">
                                     <li class="list-group-item">ID Cliente:</li> 
                                     <li class="list-group-item">Nombre</li>
                                     <li class="list-group-item">Apellido:</li>
                                     <li class="list-group-item">Dirección:</li>        
                                     <li class="list-group-item">Teléfono</li>
                                   </ul>
                                 </div>
                              </div>
                              <div class="col-md-10">
                                <div class="card-body">
                                  <div class="card mt-n3 text-dark" >
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">{{factura.cliente.id}}</li>
                                      <li class="list-group-item">{{factura.cliente.nombre}}</li>
                                      <li class="list-group-item">{{factura.cliente.apellido}}</li>
                                      <li class="list-group-item">{{factura.cliente.direccion}}</li>
                                      <li class="list-group-item">{{factura.cliente.telefono}}</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <p  class="font-weight-bolder font-italic" *ngIf="factura.cliente==null">Datos cliente: C/F</p>
                      </div>

                      <div class="card ">
                        <div class="alert alert-info mb-0">Detalle Factura</div>
                        <div class="row ">
                            <div class="col-md-2">
                                <div class="card text-primary" style="width: 10rem;">
                                   <ul class="list-group list-group-flush">
                                     <li class="list-group-item">ID Factura:</li> 
                                     <li class="list-group-item">Fecha</li>
                                     <li class="list-group-item">Hora:</li>
                                     <li class="list-group-item">Registrado por:</li>        
                                     <li class="list-group-item">Total</li>
                                   </ul>
                                 </div>
                              </div>
                              <div class="col-md-10">
                                <div class="card-body">
                                  <div class="card mt-n3 text-dark" >
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">{{factura.id}}</li>
                                      <li class="list-group-item">{{factura.fechaRegistro | date:"EEEE dd, MMMM yyyy"}}</li>
                                      <li class="list-group-item">{{factura.horaRegistro}}</li>
                                      <li class="list-group-item">{{factura.usuario.personal.nombre}} {{factura.usuario.personal.apellido}}</li>
                                      <li class="list-group-item">{{factura.total |currency:"GTQ":"symbol"}}</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                        </div>
              
                      </div>

                      <div class="card ">
                        <div class="alert alert-info mb-0">Elementos de la factura</div>
                         <table class="table table-sm">
                            
                           <thead>
                             <tr>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                             </tr>
                             
                           </thead>

                           <tbody>
                             <tr *ngFor="let item of factura.items">
                                <td>{{item.producto.producto.nombre}}</td>
                                <td>{{item.precioVenta |currency:"GTQ":"symbol"}}</td>
                                <td>{{item.cantidad}}</td>
                                <td>{{item.importe |currency:"GTQ":"symbol"}}</td>
                             </tr>
                             
                           </tbody>
                         </table>
              
                      </div>
          </div>  
  
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
  
          </div>
        </div>
      </div>
    </div>
  </div>