<div class="abrir-modal  fadeIn" *ngIf="ventaService.modal">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
      <div class="modal-dialog modal-dialog-scrollable  border border-dark" role="document">
        <div class="modal-content">
  
          <div class="modal-header">
            <h6 class="modal-title">Código producto a vender {{cantidadProducto.producto.codigo}}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
                
                <form #ventaForm="ngForm">
                        <div class="modal-body">
                             <div class="form-group">
                               <label for="color">Precio venta:</label>
                                 <input type="number" class="form-control form-control-sm"  name="precio"
                                        [(ngModel)]="venta.precioVenta" #ven="ngModel" required min="0">
                                <div class="alert alert-danger sizeDiv" *ngIf="ven.invalid && (ven.dirty || ven.touched)">
                                  <div class="sizeSubDiv" *ngIf="ven.errors.required">Rellene este campo</div>
                                </div>
                             </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                         <button  class="btn btn-success btn-block" role="button" (click)='store()'
                                   [disabled]="!ventaForm.form.valid">Registrar venta</button>
                
                        </div>
                </form>

        </div>
      </div>
    </div>
  </div>
