<app-detalle *ngIf="producto" [producto]="producto"></app-detalle>
<app-ingreso-producto *ngIf="producto" [producto]="producto"></app-ingreso-producto>

<div class="row">
     <div class="col-md-2 d-none d-md-block bg-light sidebar">
        <app-nav-producto></app-nav-producto>
     </div>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                  <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
              </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h3 class="h5">AGENCIA </h3>
            </div>
    
            <div class="example-header mat-elevation-z8">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="Ingrese código para filtrar"/>
                  </mat-form-field>
            </div>

            <div class="card mt-4 border border-primary">
              <div class="card-header">
                <button *ngIf="loginService.hasRole('ROLE_ADMIN')" class="btn btn-success btn-sm mt-2" mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'productos', sheet: 'sheet_name', Props: {Author: 'todostudent'}})"> <i class="fas fa-file-excel"></i> Exportar</button>

                <button type="button" name="button" class="btn btn-primary float-right" [routerLink]="['/producto/form']" 
                *ngIf="loginService.hasRole('ROLE_ADMIN')">
                   Producto nuevo </button>
              </div>
              <div class="card-body">

                <div class="example-container mat-elevation-z8 table-responsive-sm">
                  <mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter" [hiddenColumns]="[5]">
                    <ng-container matColumnDef="Codigo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Código </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Nombre">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
                    </ng-container>
  
                    <ng-container matColumnDef="Precio">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.precio |currency:"GTQ":"symbol"}} </mat-cell>
                    </ng-container>
  
  
  
                    <ng-container matColumnDef="Categoria">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Categoría</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.categoria.categoria}} </mat-cell>
                    </ng-container>

                   <ng-container matColumnDef="Marca">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Marca</mat-header-cell>
                        <mat-cell *matCellDef="let row" > {{row.marca.marca}} </mat-cell>
                  </ng-container>
  
                   <ng-container matColumnDef="Acciones"  >
                        <mat-header-cell *matHeaderCellDef mat-sort-header >Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <mat-button-toggle-group  name="fontStyle" aria-label="Font Style">
                          <mat-button-toggle value="bold" (click)="ingresoProducto(row)" data-toggle="tooltip" data-placement="left" title="Registrar compra de producto"> <i class="far fa-plus-square"></i> </mat-button-toggle>
                          <mat-button-toggle value="bold" (click)="abrirModal(row)" data-toggle="tooltip" data-placement="left" title="Detalle producto"> <i class="fas fa-info-circle text-info"></i> </mat-button-toggle>
                          <mat-button-toggle value="bold"  [routerLink]="[ '/producto/form', row.id ]" data-toggle="tooltip" data-placement="left" title="Editar para actualizar"> <i class="far fa-edit"></i> </mat-button-toggle>
                          </mat-button-toggle-group>
  
                        </mat-cell>
                  </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
              </mat-table>
               <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
            </div>
                
              </div>
  
            </div>
      </main>
  
  </div>
