<div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link text-primary" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    Panel de usuarios
                  </a>
                </li>
                <li class="nav-item">
      
                    <a class="nav-link" routerLink="/list-usuario"> <i class="fas fa-users "></i> Gestionar usuarios</a>
      
                </li>
              </ul>
            </div>
          </nav>
      
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a routerLink="/personal">Personal</a></li>
                <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
              </ol>
            </nav>
                <div class="card mt-4 border border-primary">
                  <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-sm table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Username</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Apellido</th>
                          <th scope="col">Agencia</th>
                          <th scope="col">Ubicación</th>
                          <th colspan="3" class="text-center">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let usuario of usuarios">
                          <td scope="row">{{usuario.username}}</td>
                          <td scope="row">{{usuario.personal.nombre}}</td>
                          <td scope="row">{{usuario.personal.apellido}}</td>
                          <td scope="row">{{usuario.personal.agencia.nombre}}</td>
                          <td scope="row">{{usuario.personal.agencia.ubicacion}}</td>
                          <td scope="row"><button type="button" class="btn btn-sm btn-outline-primary btn-block" name="button" (click)="mostrarDetalle(usuario)">Detalle</button></td>
                          <td scope="row"><button type="button" class="btn btn-sm btn-outline-danger btn-block" name="button" (click)="delete(usuario)">Eliminar</button></td>
                          <td scope="row"><button type="button" class="btn btn-sm btn-outline-info btn-block" name="button" [routerLink]="['/usuario/edit/',usuario.id]">Editar</button></td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  
                  </div>
      
                </div>
          </main>
      
      </div>
      
      
      <div class="abrir-modal  fadeIn" *ngIf="usuarioService.modal">
        <div class="modal" tabindex="-1" role="dialog" style="display:block;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-user"></i> Detalle usuario: {{user.username}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
      
              <div class="modal-body">
                <div class="row">
                  <div class="col-4">
      
                    <div class="card text-primary font-weight-bold" style="width: 18rem;">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Usuario:</li>
                        <li class="list-group-item">Nombre:</li>
                        <li class="list-group-item">Apellido:</li>
                        <li class="list-group-item">Agencia:</li>
                        <li class="list-group-item">Ubicacion:</li>
                        <li class="list-group-item" *ngFor="let item of user.role"><i class="far fa-check-circle  text-success"></i></li>
                      </ul>
                    </div>
      
                  </div>
                  <div class="col-4">
      
                    <div class="card" style="width: 18rem;">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{user.username}}</li>
                        <li class="list-group-item">{{user.personal.nombre}}</li>
                        <li class="list-group-item">{{user.personal.apellido}}</li>
                        <li class="list-group-item">{{user.personal.agencia.nombre}}</li>
                        <li class="list-group-item">{{user.personal.agencia.ubicacion}}</li>
                        <li class="list-group-item" *ngFor="let item of user.role">{{item.nombre}}</li>
                      </ul>
                    </div>
      
                  </div>
      
                </div>
      
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
      
              </div>
      
            </div>
          </div>
        </div>
      </div>
