<div class="mt-3">
    <form>
        <select   name="marca" [(ngModel)]="productoConsulta.marca" class="btn btn-sm btn-outline-info">
          <option [ngValue]="undefined">-SELECCIONAR MARCA-</option>
          <option *ngFor="let marca of marcas" [ngValue]="marca.marca">{{marca.marca}}</option>
        </select>
        <select   name="categoria" [(ngModel)]="productoConsulta.categoria" class="btn btn-sm btn-outline-info">
          <option [ngValue]="undefined">-SELECCIONAR CATEGORIA-</option>
          <option *ngFor="let categoria of categorias" [ngValue]="categoria.categoria">{{categoria.categoria}}</option>
        </select>
        <button  class="btn btn-outline-success btn-sm" role="button" (click)='buscarProducto()'>
          <i class="fas fa-search"></i> buscar </button>
      </form>
</div>

<hr class="shadow-sm p-2 mb-3 bg-white rounded">
<div class="card-deck mt-3">
    <div class="card border-info mb-3" style="max-width: 20rem; min-width: 18rem;" 
          *ngFor="let prod of productos" data-toggle="tooltip">
      
        <a href= "{{urlImage}}{{prod.producto.foto}}" data-fancybox data-caption="&lt;b&gt; Img &lt;/b&gt;&lt;br /&gt;img prod &lt;em&gt;any&lt;/em&gt; HTML elements">
          <img *ngIf="prod.producto?.foto" src="{{urlImage}}{{prod.producto.foto}}" alt="{{prod.producto.foto}}" class="card-img-top">     
        </a>
        <img *ngIf="!prod.producto?.foto" src="{{urlImage}}img2.png" alt="Sin foto" class="card-img-top" style="width: 100px;">

       
      <div class="card-body">
        <h5 class="card-title">Precio: {{prod.producto.precio |currency:"GTQ":"symbol"}}</h5>
        <p class="card-text">Nombre:  {{prod.producto.nombre}}</p>
        <p class="card-text">Marca: {{prod.producto.marca.marca}}</p>  
        <p class="card-text">Categoria: {{prod.producto.categoria.categoria}}</p>  
      </div>
      <div class="card-footer">
        <small class="text-muted">{{prod.producto.codigo}}</small>
        <p class="float-right">Existencia: <span class="badge badge-danger" *ngIf="prod.producto.alerta>=prod.cantidad else elseBlock">{{prod.cantidad}}</span> 
            <ng-template #elseBlock><span class="badge badge-info">{{prod.cantidad}}</span></ng-template>
            
        </p>
      </div>
    </div>
    

  </div>
  

