<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Producto</li>
  </ol>
</nav>

<app-form-marca *ngIf="marca" [marca]="marca"></app-form-marca>
<app-form-categoria *ngIf="categoria" [categoria]="categoria"></app-form-categoria>

<div class="row">
  <div class="col">
  </div>
  <div class="col-sm-4">
    <div class="card bg-secondary text-white mt-5">
      <div class="card-header">
        Formulario producto
      </div>
      <div class="card-body">
        <form #productoForm="ngForm">
          <div class="form-group">
            <label for="codigo">Código</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="producto.codigo" name="codigo"
              #prod="ngModel" required maxlength="100">
            <div class="alert alert-danger sizeDiv" *ngIf="prod.invalid && (prod.dirty || prod.touched)">
              <div *ngIf="prod.errors.required" class="sizeSubDiv">Rellene este campo</div>
            </div>
          </div>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="producto.nombre" name="nombre"
              #prod="ngModel" placeholder="Maximo 250 caracteres" required maxlength="250">
            <div class="alert alert-danger sizeDiv" *ngIf="prod.invalid && (prod.dirty || prod.touched)">
              <div *ngIf="prod.errors.required" class="sizeSubDiv">Rellene este campo</div>
            </div>
          </div>
          <div class="form-group">
            <label for="precio">Precio Entrada</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]="producto.precio" name="precio"
              #pre="ngModel" required min="0">
            <div class="alert alert-danger sizeDiv" *ngIf="pre.invalid && (pre.dirty || pre.touched)">
              <div *ngIf="pre.errors.required" class="sizeSubDiv">Rellene este campo</div>
            </div>
          </div>

          <div class="form-group">
            <label for="precioventa">Precio venta Unidad</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]="producto.precioVenta"
              name="precioVenta" #preven="ngModel" required min="0">
            <div class="alert alert-danger sizeDiv" *ngIf="preven.invalid && (preven.dirty || preven.touched)">
              <div *ngIf="preven.errors.required" class="sizeSubDiv">Rellene este campo</div>
            </div>
          </div>

          <div class="form-group">
            <label for="preciodocena">Precio venta Docena</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]="producto.precioDocena"
              name="precioDocena" #prevendoc="ngModel" required min="0">
            <div class="alert alert-danger sizeDiv" *ngIf="prevendoc.invalid && (prevendoc.dirty || prevendoc.touched)">
              <div *ngIf="prevendoc.errors.required" class="sizeSubDiv">Rellene este campo</div>
            </div>
          </div>

          <div class="form-group">
            <label for="preciomayor">Precio venta Centena</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]="producto.precioMayor"
              name="precioMayor" #prevencen="ngModel" required min="0">
            <div class="alert alert-danger sizeDiv" *ngIf="prevencen.invalid && (prevencen.dirty || prevencen.touched)">
              <div *ngIf="prevencen.errors.required" class="sizeSubDiv">Rellene este campo</div>
            </div>
          </div>
          <div class="form-group">
            <label for="alerta">Crear alerta disponibilidad</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]="producto.alerta" name="alerta"
              #aler="ngModel" required min="0">
            <div class="alert alert-danger sizeDiv" *ngIf="aler.invalid && (aler.dirty || aler.touched)">
              <div *ngIf="aler.errors.required" class="sizeSubDiv">Rellene este campo</div>
            </div>
          </div>
    
          <div class="form-group">
              <label for="categoria">Categoria:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-info btn-sm" type="button" (click)="abrirModalCategoria()"><i
                      class="fas fa-plus-circle"></i></button>
                </div>
                <select [compareWith]="compararCategoria" class="form-control form-control-sm"
                [(ngModel)]="producto.categoria" name="categoria" required>
                <option [ngValue]="undefined">---Seleccionar categoría-----</option>
                <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.categoria}}</option>
              </select>
              </div>
  
            </div>

          <div class="form-group">
            <label for="marca">Marca:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-info btn-sm" type="button" (click)="abrirModal()"><i
                    class="fas fa-plus-circle"></i></button>
              </div>
              <select [compareWith]="compararMarca" class="form-control form-control-sm" [(ngModel)]="producto.marca"
                name="marca" required>
                <option [ngValue]="undefined">---Seleccionar marca-----</option>
                <option *ngFor="let marca of marcas" [ngValue]="marca">{{marca.marca}}</option>
              </select>
            </div>

          </div>

          <div class="form-group">
            <label for="proveedor">Proveedor:</label>
            <select [compareWith]="compararProveedor" class="form-control form-control-sm"
              [(ngModel)]="producto.proveedor" name="proveedor" required>
              <option [ngValue]="undefined">---Seleccionar proveedor-----</option>
              <option *ngFor="let proveedor of proveedors" [ngValue]="proveedor">{{proveedor.empresa.nombre }}</option>
            </select>
          </div>

          <div class="form-group ">
            <button class="btn btn-info btn-block" role="button" (click)='store()' *ngIf="!producto.id else elseBlock"
              [disabled]="!productoForm.form.valid">Registrar producto</button>
            <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)='update()'
                [disabled]="!productoForm.form.valid">Actualizar Datos personal</button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>