<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/list-usuario">Gestionar usuarios</a></li>
    
    </ol>
  </nav>
<div class="row">
    <div class="col">
    </div>
    <div class="col-4">
        <div class="card bg-info text-white mt-5">
            <div class="card-header">
                Modificar roles para usuario {{usuario.username  | uppercase}}
            </div>
            <div class="card-body">
                <form [formGroup]="roleForm" (ngSubmit)="submit()">
                    <label formArrayName="roles"
                        *ngFor="let nombre of roleForm['controls'].roles['controls']; let i = index">
                        <input type="checkbox" [formControlName]="i">
                        {{roles[i].nombre}}
                    </label>
                    <div class="form-group ">
                        <button class="btn btn-primary btn-block">Modificar Roles</button>
                    </div>
                    <div class="form-group">
                        <a routerLink="/list-usuario" class="btn btn-secondary btn-block">Cancelar</a>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>