/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css'; 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sizeDiv{
    height: 4px;
 }
 .sizeSubDiv{
     margin-top: -7px;
     font-size: 13px;
 }


 /****************************************************************** ESTILO TABLA*/



 /*******************************************************************************/



/***********************ESTILO VENTANAS MODALES*********************************************************************/

.abrir-modal{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  
  .animacion{
    animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
  }
  
  .fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
  }
  
  @keyframes fadeIn {0% {opacity:0}to{opacity: 1}}
  @-webkit-keyframes fadeIn {0% {opacity:0}to{opacity: 1}}

/**********************************************************************************************/