<app-detalle-factura *ngIf="factura" [factura]="factura"></app-detalle-factura>
<app-item-factura *ngIf="listItemFacturaEnviar && facturaService.modalItem" [listItemFactura]="listItemFacturaEnviar"></app-item-factura>
<main role="main">
    <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
        class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h5">AGENCIA </h3> 
        <button class="btn btn-outline-success" (click)="mostrarDetalleVenta()">Ver detalle ventas</button>
    </div>

    <div class="card mt-4 border border-primary">
        <div class="card-header">
  
          <form #facturaForm="ngForm">
            <div class="row ">
              <div class="col">
                <button  class="btn btn-success btn-sm float-right mt-2" mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'facturas', sheet: 'sheet_name', Props: {Author: 'todostudent'}})"> <i class="fas fa-file-excel"></i> Exportar</button>
              </div>
              <div class="col-2">
  
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="De fecha" [(ngModel)]="consultaFecha.fecha1"
                    name="fecha1" required>
                  <mat-datepicker-toggle matSuffix [for]="picker" class="text-primary"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="A la fecha" [(ngModel)]="consultaFecha.fecha2"
                    name="fecha2" required>
                  <mat-datepicker-toggle matSuffix [for]="picker2" class="text-primary"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-3">
                <select   name="agencia" [(ngModel)]="consultaFecha.agencia" class="btn btn-outline-info mt-2">
                  <option [ngValue]="undefined">SELECCIONAR AGENCIA</option>
                  <option *ngFor="let agencia of agencias" [ngValue]="agencia.nombre">{{agencia.nombre}}</option>
                </select>
              </div>
              <div class="col-1">
                <button class="btn btn-info btn-block mt-1" role="button" (click)='getByDate()'
                  [disabled]="!facturaForm.form.valid"> <i class="fas fa-search"></i> </button>
              </div>
            </div>
          </form>
  
        </div>
        <div class="card-body">
            <div class="example-container mat-elevation-z8 table-responsive-sm">
              <mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter" [hiddenColumns]="[7]">
                <ng-container matColumnDef="Id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>#Factura </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                  <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="Fecha">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.fechaRegistro | date}} </mat-cell>
                  <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>
          
                <ng-container matColumnDef="Hora">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Hora </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.horaRegistro}} </mat-cell>
                  <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>
          
                <ng-container matColumnDef="Cliente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente </mat-header-cell>
                    <mat-cell *matCellDef="let row" > 
                        <span *ngIf="row.cliente==null else elseBlock"> C/F</span>
                        <ng-template #elseBlock> {{row.cliente.nombre}} </ng-template></mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                  </ng-container>

                  <ng-container matColumnDef="Agencia">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.usuario.personal.agencia.nombre}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                  </ng-container>

                  <ng-container matColumnDef="Usuario">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.usuario.personal.nombre}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                  </ng-container>
                <ng-container matColumnDef="Total">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.total |currency:"GTQ":"symbol"}} </mat-cell>
                  <mat-footer-cell *matFooterCellDef class="font-weight-bold font-italic">{{total |currency:"GTQ":"symbol"}} </mat-footer-cell>
                </ng-container>
          
                <ng-container matColumnDef="Acciones">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                      <mat-button-toggle value="bold" (click)="abrirModalDetalle(row)" data-toggle="tooltip"
                        data-placement="left" title="Detalle factura"><i class="fas fa-info-circle text-info"></i>
                      </mat-button-toggle>
                    </mat-button-toggle-group>
          
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
          
            </div>
        </div>
  
      </div>

</main>


