<app-detalle-traslado *ngIf="trasladoProducto" [trasladoProducto]="trasladoProducto"></app-detalle-traslado>
<div class="row">
    <div class="col-md-2 d-none d-md-block bg-light sidebar">
       <app-nav-producto></app-nav-producto>
    </div>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                  <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
              </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h3 class="h5">AGENCIA </h3>
            </div>
    
            <div class="example-header mat-elevation-z8" *ngIf="dataSource?.data.length>0">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="Ingrese código para filtrar"/>
                  </mat-form-field>
            </div>

            <div class="card mt-4 border border-primary">
              <div class="card-header">
                 <form #ingresoForm="ngForm">
                    <div class="row ">
                      <div class="col">
                        <button *ngIf="loginService.hasRole('ROLE_ADMIN')" class="btn btn-success btn-sm float-right mt-2" mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'trasladoProducto', sheet: 'sheet_name', Props: {Author: 'todostudent'}})"> <i class="fas fa-file-excel"></i> Exportar</button>
                      </div>
                      <div class="col-2">
          
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker" placeholder="De fecha" [(ngModel)]="consultaFecha.fecha1"
                            name="fecha1" required>
                          <mat-datepicker-toggle matSuffix [for]="picker" class="text-primary"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker2" placeholder="A la fecha" [(ngModel)]="consultaFecha.fecha2"
                            name="fecha2" required>
                          <mat-datepicker-toggle matSuffix [for]="picker2" class="text-primary"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-1">
                        <button class="btn btn-success btn-block" role="button" (click)='getByDate()'
                          [disabled]="!ingresoForm.form.valid"> <i class="fas fa-search"></i> </button>
                      </div>
                    </div>
                  </form>

              </div>
              <div class="card-body" >
                  <div class="alert alert-info" role="alert" *ngIf="valor"> No hay datos filtrados, ingrese rango de fechas para mostrar datos</div>
                  <div class="alert alert-success" role="alert" *ngIf="dataSource?.data.length==0">No existe registro con las fechas especificadas</div>

                <div class="example-container mat-elevation-z8 table-responsive-sm" *ngIf="dataSource?.data.length>0">
                  <mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter" [hiddenColumns]="[6]">
                    <ng-container matColumnDef="Codigo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Código </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.ingresoProducto.producto.codigo}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Nombre">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.ingresoProducto.producto.nombre}}</mat-cell>
                   </ng-container>

                    <ng-container matColumnDef="Cantidad">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.cantidad}} </mat-cell>
                    </ng-container>
  
                    <ng-container matColumnDef="Agencia">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.agencia.nombre}} </mat-cell>
                    </ng-container>

                  <ng-container matColumnDef="Fecha">
                       <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                       <mat-cell *matCellDef="let row"> {{row.fecha | date:'dd-MM-yyyy'}} </mat-cell>
  
                 </ng-container>
                 <ng-container matColumnDef="Hora">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Hora</mat-header-cell>
                      <mat-cell *matCellDef="let row" > {{row.hora}} </mat-cell>
                </ng-container>
  
                   <ng-container matColumnDef="Acciones"  >
                        <mat-header-cell *matHeaderCellDef mat-sort-header >Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <mat-button-toggle-group  name="fontStyle" aria-label="Font Style">
                          <mat-button-toggle value="bold" (click)="modalTraslado(row)" data-toggle="tooltip" data-placement="left"
                          title="Detalle traslado producto"><i class="fas fa-info-circle text-info"></i></mat-button-toggle>
                          </mat-button-toggle-group>
  
                        </mat-cell>

                  </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
              </mat-table>
               <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

            </div>
                
              </div>
  
            </div>
      </main>
  
  </div>

